@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>

<address>
    Høgskolen i Narvik<br />
    8505 Narvik<br />
    <abbr title="Telefonnummer">Tlf:</abbr>
    820 97 098
</address>

<address>
    <strong>Tekninsk støtte:</strong>   <a href="mailto:Support@example.com">Support@hin.no</a><br />
    <strong>Markedsavdeling:</strong> <a href="mailto:Marketing@example.com">Marketing@hin.no</a>
</address>