@{
    ViewBag.Title = "Startside";
}

<div class="jumbotron">
    <h1>HiN Simulator 2014</h1>
    <hr />
    <img src="~/Content/Images/Spill.png" alt="" width="100%" height="100%" />
    <hr />
    <p>Spill vår fantastiske simulator som tar deg med på en eventyrlig reise gjennom høgskolens mystikk og mysterium på høgt plan.</p>

</div>
