@*
    
    Denne partial page viser liste over kunstige aktører som befinner seg på spillerens lokasjon.

    Om man prøver å kommunisere med en aktør vil responsen komme i StoryBox viewet..

*@


<div style="padding:1em">
    <h4>ARTIFICIAL PLAYERS</h4>
    <select id="" multiple="multiple" style="width: 100%;" size="10">
        <option>Hans</option>
        <option>Knut</option>
        <option>Tore</option>
    </select>
    <button id="" style="width: 100%">Talk</button>
    <button id="" style="width: 100%">Kick</button>
    <button id="" style="width: 100%">Punch</button>
</div>
