@*
    
    Denne partial page viser liste over kunstige aktører som befinner seg på spillerens lokasjon.

    Om man prøver å kommunisere med en aktør vil responsen komme i StoryBox viewet..

    Forfattere: Tina Ramsvik

*@

<!--DIV blokke som inneholder kunstige aktører, satt til å matche Things.cshtml-->
<div style="width: 250px; height:400px;border: solid 1px #0026ff; margin-top:2em; padding:1em; float:right">
    <h4>KUNSTIGE AKTØRER</h4>
    <select id="artificialplayer_list" multiple="multiple" style="width: 100%;" size="10"></select>
</div>

<script type="text/javascript">

</script>