@*
    
    Denne partial page viser liste over kunstige aktører som befinner seg på spillerens lokasjon.

    Om man prøver å kommunisere med en aktør vil responsen komme i StoryBox viewet..

    Forfattere: Tina Ramsvik

*@

<!--DIV blokke som inneholder kunstige aktører-->
<div style="padding:1em">
    <h4>ARTIFICIAL PLAYERS</h4>

    <div style="width:45%; float:right">
        <button onclick="btnTalk()" style="width: 100%">Talk</button>
        <button onclick="btnKick()" style="width: 100%">Kick</button>
        <button onclick="btnPunch()" style="width: 100%">Punch</button>
        <button onclick="btnLookAt()" style="width: 100%">Look at</button>
    </div>

    <div style="width:50%">
        <select id="artificialplayer_list" style="width: 100%;" size="10">
        </select>
    </div>

</div>

<script type="text/javascript">

    //Når bruker går inn i ett nytt rom oppdateres listen med de aktuelle aktørene
    $("#currentLocationId").change(function () {


        listArtificialPlayers(function (artPlayers) {

            $i = 1;
            
            $.each(artPlayers, function (index, artPlayer) {
                var artName = artPlayer.Name;
                var artType = artPlayer.Type;
                var artDescription = artPlayer.Description;

                //Legger til liste med aktører på siden
                $("#artificialplayer_list")
                .append($("<option></option>")
                .attr("value", $i)
                .attr("id", artPlayer.ArtificialPlayerID)
                .text(artName));

                $i++;

            });

        });

        //Callback funksjon til kontrolleren for å hente ut alle kunstige aktører i rommet
        function listArtificialPlayers(callback) {

            $("#artificialplayer_list").empty(); //tøm liste

            $.ajax({
                url: "/api/ArtificialPlayer/GetArtificialPlayersInLocation/" + $("#currentLocationId").val(),
                data: {},
                type: "GET",
                contentType: "application/json;charset=utf-8",
            }).then(function (artPlayers) {
                callback(artPlayers);
            });
        }

    });

    //Hvis bruker trykker på knapp "LookAt"
    function btnLookAt() {

        $("#artificialplayer_list option:selected").each(function () {   //Hvert valgt element
 
            //TODO: Hente info, sende til storybox
            addTextToStoryBox("Selected: " + $(this).text() + " Id: " + $(this).id);

        });
        
    };

    function btnPunch() {
        addTextToStoryBox("Nothing to punch..");
        //TODO: Hent valgt listeelement, hente info, sende til storybox
    };

    function btnKick() {
        addTextToStoryBox("Nothing to kick..");
        //TODO: Hent valgt listeelement, hente info, sende til storybox
    };

    function btnTalk() {
        addTextToStoryBox("Your talking to yourself..");
        //TODO: Hent valgt listeelement, hente info, sende til storybox
    };

</script>

