<!--ImageBox.cshtml partial view-->
<!--Enkelt partial view der man kan vise et bilde. Kall metoden updateImage(Image)
    for å endre bildet.-->
<!--Andreas Dyrøy Jansson-->

<style>
    #image {
        height:auto; 
        width:auto; 
        display: block; 
        margin: auto; 
        vertical-align: middle; 
        max-width:100%;
        max-height:200px;
        }
</style>

<div id="imageBox"></div>


    <script type="text/javascript">

        function updateImage(image) {
            // Lager en image-tag-string
            // WebApi gjør automatisk om til base64 i JSON
            var imgString = "<img id='image' src='data:" + image.MimeType
                + ";base64," + image.ImageBlob + "'/>";
            $("#imageBox").html(imgString);
        }

        // Nullstiller bilde
        function clearImage() {
            $("#imageBox").html("");
        }

    </script>
