<!--ImageBox.cshtml partial view-->
<!--Enkelt partial view der man kan vise et bilde. Kall metoden updateImage(byte[] imageBytes)
    for å endre bildet.-->
<!--Andreas Dyrøy Jansson-->

<style>
    #image {
        height:auto; 
        width:auto; 
        display: block; 
        margin: auto; 
        vertical-align: middle; 
        max-width:100%;
        max-height:200px;
        }
</style>

<div id="imageBox"></div>


    <script type="text/javascript">

        function updateImage(imageBytes) {
            
            var img = "<img id='image'  src='data:image/jpeg;base64," + imageBytes + "'/>";
            $("#imageBox").html(img);
        }

        function clearImage() {
            $("#imageBox").html("");
        }

    </script>
