
@{
    ViewBag.Title = "HiN Simulator";
}

<div>
    @Html.Partial("StoryBox")
</div>

<div>
    @Html.Partial("Chatbox")
</div>

<div>
    @*Html.Partial("Movement")*@
</div>

<div>
    @Html.Partial("ArtificialPlayers")
</div>

<div>
    @*Html.Partial("Things")*@
</div>

