<!--Movement.cshtml partial view-->
<!--Partial View der brukeren kan navigere rundt om i rommene i spillet. Henter
    tilgjengelige rom fra server, genererer knapper til hvert rom og sender info til
    StoryBox. Kobler seg mot LocationController av type Web-api, der flere sjekker foretas,
    bl.a om spilleren kan gå igjennom valgt dør ol.
    Andreas Dyrøy Jansson-->
    <script type="text/javascript">

        // Starter opp
        showLoader();
        moveToLocation(-1); //-1 betyr at spillet nettop har startet, 
        // og spilleren ikke har flyttet på seg enda.

        // Henter nåværende og tilknyttede locations
        function moveToLocation(_id) {
            showLoader();
            $.ajax({
                url: "/api/Location/MoveTo/" + _id,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    writeResponse(data.ConnectedLocations);
                    showLocations();
                    // Hvis døren er låst
                    if (data.keyReturn > 0) {
                        addTextToStoryBox("This door is locked. You need an item with key level " + data.keyReturn + " or higher");
                    }
                    else if (data.keyReturn == -1) {
                        addTextToStoryBox("Door unlocked!");
                        addTextToStoryBox(data.LocationInfo);
                        meekImage(data.ImageID);
                        if (_id == -1) {
                            updateHiddenField(data.LocationId);
                        } else {
                            updateHiddenField(_id);
                        }
                    }
                    else {
                        //leaveLocationFFS($("#currentLocationId").val());
                        meekImage(data.ImageID);
                        updateHiddenField(data.LocationId);
                        addTextToStoryBox(data.LocationInfo);
                    }
                    //joinLocation(data.LocationId);

                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }

        // Hvis loaction har et bilde, hent det, hvis ikke tøm ImageBox
        function meekImage(ImageID) {
            if (ImageID != -1) {
                getImage(ImageID);
            }
            else {
                clearImage();
            }
        }

        // Mottar svar og genererer knapper
        function writeResponse(locations) {
            var strLocations = "";
            $.each(locations, function (index, location) {
                // Oppretter knapper for å gå til rom
                strLocations += "<button style=width:100% "
                + " onclick='moveToLocation(" + location.LocationId
                + ");'>Go to " + location.LocationName + "</button>";

            });
            showLocations();
            $("#locations").html(strLocations);
        }

        // Hjelpemetode som viser lasteanimasjonen
        function showLoader() {
            $("#navLoader").show();
            $("#locations").hide();
        }

        // Hjelpemetode som viser navigasjonsknappene
        function showLocations() {
            $("#navLoader").hide();
            $("#locations").show();
        }

        // Hjelpemetode som oppdaterer currentLocationId, som brukes av andre views
        function updateHiddenField(_id) {
            $("#currentLocationId").val(_id);
            $("#currentLocationId").change();
        }

        // gjør et kall mot ImageController hvis en Location har et bilde
        function getImage(_id) {

            $.ajax({
                url: "/api/Image/GetImage/" + _id,
                type: 'GET',
                dataType: 'json',
                success: function (image) {
                    updateImage(image);

                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });

        }

    </script>
<div style="padding:1em">
    <h4>NAVIGATION</h4>
    <!-- http://www.ajaxload.info/ fancy -->
    <div id="navLoader"><img src='/Content/25-1.gif' /> Loading connected rooms...</div>
    <div id="locations"></div>
</div>