
    <script type="text/javascript">

        getConnectedRooms(-1);


        function getConnectedRooms(_id) {
            var urlToController = "/api/Location/";
            if (_id != -1) {
                urlToController = "/api/Location/MoveTo/" + _id;
            }

            $.ajax({
                url: urlToController,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    writeResponse(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }

        function getLocationInfo(_id) {
            $.ajax({
                url: "/api/Location/GetInfo/" + _id,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    addTextToStoryBox(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }

        function writeResponse(locations) {
            var strLocations = "<id='locations>";
            $.each(locations, function (index, location) {
                // Lenke for å gå til valgt rom
                strLocations += "<input id='btnSubmit" + location.LocationID
                    + "' type='submit' value='" + location.LocationName
                    + "' width=100% onclick='moveTo(" + location.LocationID + ");'/>";

            });
            $("#locations").html(strLocations);
        }

        function moveTo(_id) {

            getConnectedRooms(_id);
            getLocationInfo(_id);

        }

    </script>
<div id="locations"></div>