
    <script type="text/javascript" src="/Scripts/jquery-1.10.2.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $("#locations").html("<p>Laster rom...</p>");
            listLocations(function (locations) {
                var strLocations = "<table class='table-bordered' id='locations>";
                strLocations += "<tr><th>'Tilknyttede rom:'</th></tr>";
                $.each(locations, function (index, location) {
                    strLocations += "<tr><td>";
                    // Lenke for å gå til valgt rom
                    strLocations += "<input id='btnSubmit" + location.LocationID
                        + "' type='submit' value='" + location.LocationName
                        + "' onclick='moveTo(" + location.LocationID + ");'/>";
                     strLocations += "</td></tr>";

                });
                strLocations += "</table>";
                $("#locations").html(strLocations);

            });

            function listLocations(callback) {

                $.ajax({

                    url: "/api/Location/",
                    data: {},
                    type: "GET",
                    contentType: "application/json;charset=utf-8",
                }).then(function (locations) {
                    callback(locations);
                });
            }

        });


        function moveTo(_id) {
            $("#locations").html("<p>Laster rom...</p>");
            listLocations(function (locations) {
                var strLocations = "<table class='table-bordered' id='locations>";
                strLocations += "<tr><th>'Tilknyttede rom:'</th></tr>";
                $.each(locations, function (index, location) {
                    strLocations += "<tr><td>";
                    // Lenke for å gå til valgt rom
                    strLocations += "<input id='btnSubmit" + location.LocationID
                        + "' type='submit' value='" + location.LocationName
                        + "' onclick='moveTo(" + location.LocationID + ");'/>";
                    strLocations += "</td></tr>";

                });
                strLocations += "</table>";
                $("#locations").html(strLocations);

            });

            function listLocations(callback) {

                $.ajax({

                    url: "/api/Location/MoveTo/" + _id,
                    data: {},
                    type: "GET",
                    contentType: "application/json;charset=utf-8",
                }).then(function (locations) {
                    callback(locations);
                });
            }
        }

    </script>
<div id="locations"></div>