<!--Movement.cshtml partial view-->
<!--Partial View der brukeren kan navigere rundt om i rommene i spillet. Henter
    tilgjengelige rom fra server, genererer knapper til hvert rom og sender info til
    StoryBox. Kobler seg mot LocationController av type Web-api, der flere sjekker foretas,
    bl.a om spilleren kan gå igjennom valgt dør ol.
    Andreas Dyrøy Jansson-->
    <script type="text/javascript">

        // Starter opp
        showLoader();
        moveToLocation(-1); //-1 betyr at spillet nettop har startet, 
        // og spilleren ikke har flyttet på seg enda.

        // Henter nåværende og tilknyttede locations
        function moveToLocation(_id) {
            $.ajax({
                url: "/api/Location/MoveTo/" + _id,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    if (_id == -1) {
                        updateHiddenField(data.LocationId);
                    }
                    addTextToStoryBox(data.LocationInfo);
                    writeResponse(data.ConnectedLocations);

                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }

        // Sjekker om forbindelsen er låst
        function checkAccess(_id) {
            showLoader();
            $.ajax({
                url: "/api/Location/CheckAccess/" + _id,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    if (data == false) {
                        alert("This door is locked.");
                        showLocations();
                    }
                    else {
                        updateHiddenField(_id);
                        moveToLocation(_id);
                    }
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }

        // Mottar svar og genererer knapper
        function writeResponse(locations) {
            var strLocations = "";
            $.each(locations, function (index, location) {
                // Oppretter knapper for å gå til rom
                strLocations += "<button style=width:100% "
                + " onclick='checkAccess(" + location.LocationId
                + ");'>Go to " + location.LocationName + "</button>";

            });
            showLocations();
            $("#locations").html(strLocations);
        }

        // Hjelpemetode som flytter spilleren
        function moveTo(_id) {
            getConnectedRooms(_id);
            updateHiddenField(_id);
            getLocationInfo(_id);

        }

        // Hjelpemetode som viser lasteanimasjonen
        function showLoader() {
            $("#navLoader").show();
            $("#locations").hide();
        }

        // Hjelpemetode som viser navigasjonsknappene
        function showLocations() {
            $("#navLoader").hide();
            $("#locations").show();
        }

        // Hjelpemetode som oppdaterer currentLocationId, som brukes av andre views
        function updateHiddenField(_id) {
            $("#currentLocationId").val(_id);
            $("#currentLocationId").change();
        }

    </script>
<div style="padding:1em">
    <h4>NAVIGATION</h4>
    <!-- http://www.ajaxload.info/ fancy -->
    <div id="navLoader"><img src='/Content/25-1.gif' /> Loading connected rooms...</div>
    <div id="locations"></div>
</div>