<!--Movement.cshtml partial view-->
<!--Partial View der brukeren kan navigere rundt om i rommene i spillet. Henter
    tilgjengelige rom fra server, genererer knapper til hvert rom og sender info til
    StoryBox. Kobler seg mot LocationController av type Web-api, der flere sjekker foretas,
    bl.a om spilleren kan gå igjennom valgt dør ol.
    Andreas Dyrøy Jansson-->
    <script type="text/javascript">

        // Starter opp
        getCurrentLocation();
        getConnectedRooms(-1);
        getLocationInfo(-1);

        function getConnectedRooms(_id) {
            var urlToController = "/api/Location/GetConnectedRooms/";
            if (_id != -1) {
                urlToController = "/api/Location/MoveTo/" + _id;
            }

            $.ajax({
                url: urlToController,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    writeResponse(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }

        function getLocationInfo(_id) {
            $.ajax({
                url: "/api/Location/GetInfo/" + _id,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    addTextToStoryBox(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }

        function getCurrentLocation() {
            $.ajax({
                url: "/api/Location/GetCurrentLocation/",
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    updateHiddenField(data.LocationID);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }

        function checkAccess(_id) {
            $.ajax({
                url: "/api/Location/CheckAccess/" + _id,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    if (data == false) {
                        alert("This door is locked.");
                    }
                    else {
                        moveTo(_id);
                    }
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }

        function writeResponse(locations) {
            var strLocations = "";
            $.each(locations, function (index, location) {
                // Oppretter knapper for å gå til rom
                strLocations += "<button style=width:100% "
                + " onclick='checkAccess(" + location.LocationID
                + ");'>Go to " + location.LocationName + "</button>";

            });
            $("#locations").html(strLocations);
        }

        function moveTo(_id) {
            $("#locations").html("<img src='/Content/25-1.gif'/> Loading connected rooms...");
            getConnectedRooms(_id);
            updateHiddenField(_id);
            getLocationInfo(_id);

        }

        // Hjelpemetode
        function updateHiddenField(_id) {
            $("#currentLocationId").val(_id);
            $("#currentLocationId").change();
        }

    </script>
<div style="padding:1em">
    <h4>NAVIGATION</h4>
    <!-- http://www.ajaxload.info/ fancy -->
    <div id="locations"><img src='/Content/25-1.gif' /> Loading connected rooms...</div>
</div>