
    <script type="text/javascript">

        getCurrentLocation();
        getConnectedRooms(-1);
        getLocationInfo(-1);

        function getConnectedRooms(_id) {
            var urlToController = "/api/Location/GetConnectedRooms/";
            if (_id != -1) {
                urlToController = "/api/Location/MoveTo/" + _id;
            }

            $.ajax({
                url: urlToController,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    writeResponse(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }

        function getLocationInfo(_id) {
            $.ajax({
                url: "/api/Location/GetInfo/" + _id,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    addTextToStoryBox(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }

        function getCurrentLocation() {
            $.ajax({
                url: "/api/Location/GetCurrentLocation/",
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    updateHiddenField(data.LocationID);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }

        function checkAccess(_id) {
            $.ajax({
                url: "/api/Location/CheckAccess/" + _id,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    if (data == false) {
                        alert("This door is locked.");
                    }
                    else {
                        moveTo(_id);
                    }
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }

        function writeResponse(locations) {
            var strLocations = "";
            $.each(locations, function (index, location) {
                // Lenke for å gå til valgt rom

                strLocations += "<button style=width:100% "
                + " onclick='checkAccess(" + location.LocationID
                + ");'>Go to " + location.LocationName + "</button>";

            });
            $("#locations").html(strLocations);
        }

        function moveTo(_id) {
            // http://www.ajaxload.info/ fancy
            $("#locations").html("<img src='/Content/25-1.gif'/> Loading connected rooms...");
            getConnectedRooms(_id);
            updateHiddenField(_id);
            getLocationInfo(_id);

        }

        // Hjelpemetode
        function updateHiddenField(_id) {
            $("#currentLocationId").val(_id);
            $("#currentLocationId").change();
        }

    </script>
<div style="padding:1em">
    <h4>NAVIGATION</h4>
    <div id="locations"></div>
</div>