<!--

    Denne partial page viser tekst man får fra serveren når man kommer til en ny lokasjon, snakker med en annen kuntig aktør osv.

-->

<style type="text/css">
    #storyboxdiv {
        height: 200px;
        width: 100%;
        background: #fbfbfb;
        margin-top: 2em;
        border: 1px solid #989595;
        padding: 0.4em;
        overflow-x: hidden;
        color: #000;
        font-family: "Courier New", Courier, monospace;
    }

    #storyboxdiv p {
        margin: 1px;
    }
</style>

<div id="storyboxdiv"><br /></div>

<script type="text/javascript">

    /// Metoden legger til tekst i storybox
    function addTextToStoryBox(text)
    {
        $("#storyboxdiv").append("<p>" + text + "</p>");
        $('#storyboxdiv').scrollTop($('#storyboxdiv')[0].scrollHeight);
    }   

</script>