<!--

    Denne partial page viser tekst man får fra serveren når man kommer til en ny lokasjon, snakker med en annen kuntig aktør osv.

-->

<div id="storyboxdiv">
    
    <!-- Viser tilbakemeldinger fra server -->
    <textarea disabled="disabled" class="fixedtextbox" id="storybox" name="storybox" rows="10"></textarea>

</div>

<script type="text/javascript">

    /// Metoden legger til tekst i storybox
    function addTextToStoryBox(text)
    {
        var storyBoxText = $("#storybox").html();

        storyBoxText += text + "\n";

        $("#storybox").html(storyBoxText);
    }

</script>