@*
    Denne partial page viser liste over eget inventory og ting på samme lokasjon som spilleren.
    Her kan man også utføre forskjellige kommandoer på de tingene.

    Skrevet av: Alexander Lindquister
*@

<div style="float: right; width:50%; padding:1em">
    <h4>THINGS IN ROOM</h4>
    <select id="location_things_list" style="width: 100%;" size="10"></select>
    <button id="btn_cmd_loc_thing_take" style="width: 100%">Take</button>
    <button id="btn_cmd_loc_thing_look" style="width: 100%">Look at</button>
    <button id="btn_cmd_loc_thing_write" style="width: 100%">Write on</button>
</div>

<div style="width:50%; padding:1em">
    <h4>INVENTORY</h4>
    <select id="inventory_things_list" style="width: 100%;" size="10"></select>
    <button id="btn_cmd_inv_thing_drop" style="width: 100%">Drop</button>
    <button id="btn_cmd_inv_thing_look" style="width: 100%">Look at</button>
    <button id="btn_cmd_inv_thing_write" style="width: 100%">Write on</button>
</div>

<script type="text/javascript">

    function get_selected_location_thing() {
        return $("#location_things_list option:selected");
    }

    function get_selected_inventory_thing() {
        return $("#inventory_things_list option:selected");
    }

    function add_thing_to_location_list(thingID, thingName) {
        $("<option>", { value: thingID, html: thingName }).appendTo("#location_things_list");
    }

    function remove_thing_from_location_list(thingID) {
        $("#location_things_list option[value='" + thingID + "']").remove();
    }

    function add_thing_to_inventory_list(thingID, thingName) {
        $("<option>", { value: thingID, html: thingName }).appendTo("#inventory_things_list");
    }

    function remove_thing_from_inventory_list(thingID) {
        $("#inventory_things_list option[value='" + thingID + "']").remove();
    }

    // API CALL: CLEAR BOTH LISTS AND GET DATA FROM API
    function get_things_and_refresh_lists(locationID) {
        $("#location_things_list").empty();
        $("#inventory_things_list").empty();

        $.getJSON("/api/Things/GetThingsInCurrentLocation/" + locationID).done(function (data) {
            $("#location_things_list").empty();
            // On success, 'data' contains a list of things.
            $.each(data, function (key, item) {
                add_thing_to_location_list(item.ThingID, item.Name);
            });
        });
        
        $.getJSON("/api/Things/GetThingsInInventory/").done(function (data) {
            $("#inventory_things_list").empty();
            // On success, 'data' contains a list of things.
            $.each(data, function (key, item) {
                add_thing_to_inventory_list(item.ThingID, item.Name);
            });
        });
    }

    // API CALL: GET THING AND PRINT INFO TO STORYBOX
    function print_thing_info(thingID) {
        $.get("api/Things/GetThing/" + thingID, function (thing) {
            addTextToStoryBox("<br />");
            addTextToStoryBox("<b>Name:</b> &laquo;" + thing.Name + "&raquo;");
            addTextToStoryBox("<b>Description:</b> &laquo;" + thing.Description + "&raquo;");
            addTextToStoryBox("<b>Written on this:</b> &laquo;" + thing.WrittenText + "&raquo;");
            addTextToStoryBox("<br />");
        });
    }

    // API CALL: WRITE ON THING AFTER PROMTING USER FOR TEXT
    function write_on_thing(thingID) {
        $.get("api/Things/GetThing/" + thingID, function (thing) {
            if (thing.PlayerWritable) {
                var newWrittenText = prompt("What to write on this thing?", thing.WrittenText);
                $.post("/api/Things/WriteOnThing/" + thingID, { "": newWrittenText });
            } else {
                alert("Can not write on this thing!");
            }
        });
    }

    // BUTTON HOOK: LOOK AT LOCATION THING
    $("#btn_cmd_loc_thing_look").click(function () {
        print_thing_info(get_selected_location_thing().val());
    });

    // BUTTON HOOK: LOOK AT INVENTORY THING
    $("#btn_cmd_inv_thing_look").click(function () {
        print_thing_info(get_selected_inventory_thing().val());
    });

    // BUTTON HOOK: WRITE ON LOCATION THING
    $("#btn_cmd_loc_thing_write").click(function () {
        write_on_thing(get_selected_location_thing().val());
    });

    // BUTTON HOOK: WRITE ON INVENTORY THING
    $("#btn_cmd_inv_thing_write").click(function () {
        write_on_thing(get_selected_inventory_thing().val());
    });

    $(function () {
        // THING HUB REFERENCE
        var thingHub = $.connection.thingHub;

        // THINGHUB CALLBACK: REMOVE LOCATION THING
        thingHub.client.removeLocationThing = function (thingID, thingName) {
            remove_thing_from_location_list(thingID);
            addTextToStoryBox("<b>&laquo;" + thingName + "&raquo;</b> was removed from this location.");
        };

        // THINGHUB CALLBACK: ADD LOCATION THING
        thingHub.client.addLocationThing = function (thingID, thingName) {
            add_thing_to_location_list(thingID, thingName);
            addTextToStoryBox("<b>&laquo;" + thingName + "&raquo;</b> was added to this location.");
        }

        var currentLocationId = "thing_loc_" + $("#currentLocationId").val();

        // Start connection to thingHub
        $.connection.hub.start().done(function () {

            // LOCATION CHANGE HOOK: UPDATE LISTS
            $("#currentLocationId").change(function () {
                thingHub.server.leaveLocation(currentLocationId);
                currentLocationId = "thing_loc_" + $("#currentLocationId").val();
                thingHub.server.joinLocation(currentLocationId);
                get_things_and_refresh_lists($("#currentLocationId").val());
            });

            // BUTTON HOOK: TAKE LOCATION ITEM
            $("#btn_cmd_loc_thing_take").click(function () {
                // Send request om å ta ting. Om vi får true tilbake, broadcaster vi det til andre i rommet og legger til inventory-listen
                $.get("api/Things/TakeThing/" + get_selected_location_thing().val(), function (data) {
                    if (data) {
                        thingHub.server.removeLocationThing(currentLocationId, get_selected_location_thing().val(), get_selected_location_thing().text());
                        add_thing_to_inventory_list(get_selected_location_thing().val(), get_selected_location_thing().text());
                    } else {
                        alert("Can not take this thing");
                    }
                });
            });

            // BUTTON HOOK: DROP INVENTORY ITEM
            $("#btn_cmd_inv_thing_drop").click(function () {
                // Send request om å droppe ting. Om vi får true tilbake, broadcaster vi det til andre i rommet og legger til i ting-i-rommet-listen
                $.get("api/Things/DropThing/" + get_selected_inventory_thing().val(), function (data) {
                    if (data) {
                        thingHub.server.addLocationThing(currentLocationId, get_selected_inventory_thing().val(), get_selected_inventory_thing().text());
                        remove_thing_from_inventory_list(get_selected_inventory_thing().val());
                    } else {
                        alert("Can not drop this thing");
                    }
                });
            });
        });
    });

    $(document).ready(function () {
        get_things_and_refresh_lists($("#currentLocationId").val());
    });
</script>
