@model IEnumerable<HiNSimulator2014.Models.Location>

@{
    ViewBag.Title = "Movement tech preview v0.1a";
}

<h2>@ViewBag.Title</h2>

<table class="table-bordered">
    <tr>
        <th>
            @Html.Label("Tilknyttede rom:")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.LocationName + " - " + item.LocationType, "ShowLocations", new { id = item.LocationID })
        </td>
    </tr>
}

</table>
